/** Home Page **/

*{ box-sizing: border-box; }

body {
    color:black;
    background-color:whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    line-height: 2 rem;
    margin: 0;
    padding: 0;

}

header { 
    padding: 15px; 
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* Nav Bar */

nav {
    background-color: rgb(172, 163, 147);
    height: 50px;
    width: 100%;
    z-index: 12;
    position: fixed;
    top: 0;
    line-height: 25px;

}

nav a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

nav .wrapper {
    width: 1170px;
    margin: 0 auto;
    
}

body header .logo {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    letter-spacing: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li a {
    padding: 0;
    display: inline-block;
    text-decoration: none;
}


nav ul li a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
    
}

nav a:hover {
    background-color: rgb(172, 163, 147);
    color: white;
}

/* End of Nav*/

header {
    position: relative;

}

main  {
        width: 100%;
        height: 100%;
        object-fit: contain;
}

 main {
    padding: 0;
    width: 100%;
    margin: auto;
    margin-top: 0;
}

article {
    float: left;
    width: 75%;
}

/*Image 1 - Hero Image*/

body, html {
    height: 100%;
}

.home .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/home_dusting_db.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  top: 0;
}

.home .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.home main button {
    background-color:rgb(172, 163, 147);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
}

/*Footer*/

footer {
    clear: both;
    background-color:rgb(172, 163, 147);
    color:whitesmoke;
    margin-bottom: 0;
}

footer .wrapper {
    width: 800px;
    margin: auto;
    padding: 15px;
    margin-top: 60px;
}

/*Cards*/
.home .column {
    float: left;
    width: 33.33%;
    padding: 10px 10px;
  }
  

.home  .row {margin: 0 -5px;}


  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
 .home   .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
.home  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    margin-top: 50px;
  }

  .home button {
    background-color:rgb(172, 163, 147);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    margin-top: 25px;
}



/*ABOUT PAGE*/

/*Cards*/

.about .column-one {
    float: right;
    width: 25%;
    padding: 10px;
  }
  

.about .row-one {margin: 0 -5px;}


  .row-one:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
 .about .column-one {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
.about  .card-one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
  }

  .about .one-p {
      text-align: right;
  }

  /*Card 2*/
  .about .column-two {
    float: left;
    width: 25%;
    padding: 10px 10px;
  }
  

.about .row-two {margin: 0 -5px;}


  .row-two:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
 .about .column-two {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
.about  .card-two {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  
  .about aside {
    padding: 25px;
    float: left;
    width: 45%;
    flex-flow: wrap;
    margin-top: 100px;
    margin-left: 250px;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    letter-spacing: 2px;
  }
  

/*MENU PAGE*/

.menu .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bread_db.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  top: 0;
}

.menu .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.menu main button {
    background-color:rgb(172, 163, 147);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
}

/*CARDS*/

.menu .column {
  float: left;
  width: 33.33%;
  padding: 10px 10px;
}


.menu  .row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.menu   .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.menu  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  text-align: center;
  background-color: rgb(211, 211, 211);
  margin-top: 50px;
}

.menu button {
  background-color:rgb(172, 163, 147);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 15px;
  margin-top: 25px;
}

/*CONTACT PAGE*/

.contact .column-one {
  float: right;
  width: 25%;
  padding: 10px;
}


.contact .row-one {margin: 0 -5px;}


.row-one:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.contact .column-one {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.contact  .card-one {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: rgb(211, 211, 211);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.contact .one-p {
    text-align: right;
}

.contact aside {
  padding: 25px;
  float: left;
  width: 45%;
  flex-flow: wrap;
  margin-top: 70px;
  margin-left: 250px;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  letter-spacing: 1px;
}

.contact .card {
  margin-left: 50px;
  margin-top: 50px;
}
